.geoStyleBtn{
    background: black;
    border-color: white;
    width: 65px;
    height: 25px;
    border-radius: 20px;
    border-width: 3px;
    margin-right: 10px;
    color: white;
  }
.alert {
  background-color: #f44336 ;
  color: white !important;
  padding: 10px !important;
  
  margin-bottom: 16px !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.alert.visible {
  opacity: 1 !important;
}